<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learn">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="SignOn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".DocumentActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".DocumentOwnerList" />
        <activity android:name=".MyPdfViewerActivity" />
        <activity android:name=".MyImageViewerActivity" />
        <activity android:name=".SignatureSelectActivity" />
        <activity
            android:name=".alertDialog"
            android:theme="@style/mytheme" />
        <activity android:name=".CaptureSignatureActivity" />
        <activity android:name=".Request_Signture" />
        <activity android:name=".RigesterActivity" />
        <activity android:name=".SignAndVerifyActivity" />
        <activity android:name=".GetSignatureActivity" />
        <activity android:name=".SignatureActivity" />
        <activity android:name=".ForgotPasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>