<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learn" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="SignOn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_intro"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:screenOrientation="portrait" />
        <activity android:name=".DocumentActivity" android:screenOrientation="portrait" />
        <activity android:name=".SettingActivity" android:screenOrientation="portrait" />
        <activity android:name=".DocumentOwnerList" android:screenOrientation="portrait" />
        <activity android:name=".MyPdfViewerActivity" android:screenOrientation="portrait" />
        <activity android:name=".MyImageViewerActivity" android:screenOrientation="portrait" />
        <activity android:name=".SignatureSelectActivity" android:screenOrientation="portrait" />
        <activity android:name=".rendertry" android:screenOrientation="portrait" />
        <activity
            android:name=".alertDialog"
            android:theme="@style/mytheme" android:screenOrientation="portrait" />
        <activity android:name=".CaptureSignatureActivity" android:screenOrientation="portrait" />
        <activity android:name=".Request_Signture" android:screenOrientation="portrait" />
        <activity android:name=".RigesterActivity" android:screenOrientation="portrait" />
        <activity android:name=".SignAndVerifyActivity" android:screenOrientation="portrait" />
        <activity android:name=".GetSignatureActivity" android:screenOrientation="portrait" />
        <activity android:name=".SignatureActivity" android:screenOrientation="portrait" />
        <activity android:name=".ForgotPasswordActivity" android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
